.navbar-default .navbar-toggle {
  border: none;
  float: right;
  margin-right: 15px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}

body {
  padding-top: 75px; 
  position: relative;
  background-color: #dadada;
}

.container-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #007A86;
  box-shadow: 1px 1px 8px #adacac;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
}

.fixed-top {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    /* background: #007A86; */
    background: #007A86;
    box-shadow: 0px 4px 10px #adacac
  }

.dashboard {
  background-color:#ffffff;
  box-shadow: 0px 8px 18px #c1cece;
  border-radius: 15px;
  opacity: 89%;
  /* padding: 10px 10px 10px 10px; */
}

.container-fluid {
  padding-left: 2%;
  padding-right: 2%;
}

.box-padding {
  padding-top: 15px
}

text {
  font-size: 16px;
}

#map {
  height: 600px;
  padding-top: 40px;
}

.mapframe {
  padding-top: 10px
}

.mapbox {
  position: relative;
  padding-top: 85px;
}

.mapbox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 314159;
  pointer-events: none;
}

.overlay {
  padding-top: 5%;
}

/* custom scrollable popup styles*/
.custom-popup {
  border-radius: 2px;
  color: #504e4e;
  font-family: 'Molengo', sans-serif;
  font-size: 12px;
  line-height: 10px;
  height: 10 px ;
  max-height: 495px;
  }
/* custom scrollable popup styles*/
.custom-popup, .leaflet-popup-tip {
  background: #e7e7e7;
  border: none;
  box-shadow: none;
  }
/* custom scrollable popup styles*/
.leaflet-popup-content-wrapper {
 background: #ffffff;
 opacity: 90%;
 border-radius: 16px;
 border: 2px solid #535353;
 box-shadow: 0px 8px 18px #3f474d;
 max-width: 250px;
 }
/* custom scrollable popup styles*/
.leaflet-popup {
  position: absolute;
  text-align: center;
  }
/* custom scrollable popup styles*/
.leaflet-popup-content {
  margin-top: 20px;
  margin-right: 2px;
  padding-right: 12px;
  min-width: 100 px !important;
  max-height: 455px;
  overflow: auto;
  }

.navbar-brand {
  /* padding-top: 20px; */
  font-size: 24px;
  margin-left: 2px;
  color: #ffffff !important;
}

.navbar-nav li a {
  color: #ffffff !important;
}

.navbar-right {
  padding-top: 15px;
  padding-right: 20px;
}

#myBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  opacity: 90%;
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.record-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px; 
  font-weight: 800; 
  height: 100%;
  background-color: #adadad; 
  max-width: fit-content;
  min-width: 350px;
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.col-xs-12 {
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #504e4e;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #007A86;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #ffffff;
  color: white;
}

.legend {
  text-align: center;
}

.landing-body {
  background-color: #000000;
  color: white;
}

.dot-dom {
  height: 10px;
  width: 10px;
  background-color: #018571;
  border-radius: 50%;
  display: inline-block;
}

.dot-liv {
  height: 10px;
  width: 10px;
  background-color: #a6611a;
  border-radius: 50%;
  display: inline-block;
}

.dot-mun {
  height: 10px;
  width: 10px;
  background-color: #80cdc1;
  border-radius: 50%;
  display: inline-block;
}

.dot-oth{
  height: 10px;
  width: 10px;
  background-color: #dfc27d;
  border-radius: 50%;
  display: inline-block;  
}

.dot-unk {
  height: 10px;
  width: 10px;
  background-color: #666666;
  border-radius: 50%;
  display: inline-block;
}

.button{
  border: 0px solid #9fa2a4;
  height: 18px;
  border-radius: 5px;
  /* background: linear-gradient(#fbfbfb, #d1d1d1);  */
}

.update-button{
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color:#acacac; */
  background-image: linear-gradient(#dadada, #ffffff);

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

dd {
  display: block;
  margin-left: 15px;
}

.scroller {
  padding-top: 8px;
  font-size: larger;
  color: #ffffff !important;
}

header {
  padding: 130px 0 70px;
}

section {
  padding: 50px 0;
}

.city-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-size: medium;
  font-weight: bold;
  text-shadow: -1px -1px 0 #e2e2e2, -1px -1px 0 #e2e2e2, -1px -1px 0 #e2e2e2, -1px -1px 0 #e2e2e2;
}


#section3 {
  width: 100%;
}

.update-button {
  padding: 20px 0;
}
/*
.dashboard {
  padding: 20px 0;
}
*/

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f5f5f5;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* Styles for phones (max-width: 500px) */
@media (max-width: 500px) {
  .col-md-12 {
    padding: 0;
    width: fit-content;
  }

  .col-xs-3 {
    left: 45px;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .dc-chart {
    max-width: 75%;
    width: auto;
    height: auto;
  }

  .dc-chart svg {
      width: 90%;
      height: auto;
      max-height: fit-content;
  }

  .record-counter {
    top: 20px;
    bottom: 20px;
    min-width: 100%;
    max-width: 100%;
    max-height: fit-content;
    align-content: center;
    bottom: 25px;
    left: 1%;
  }

  .dc-chart#donut svg {
    max-width: 75%; 
    height: auto;
    max-height: fit-content;
  }

  #map {
    height: 400px;
    padding-top: 40px;
  }
}

/* Styles for tablets (min-width: 501px and max-width: 1024px) */
@media (min-width: 501px) and (max-width: 1024px) {
  .dc-chart#donut svg {
    max-width: 75%;
  }

  .col-xs-3 {
    left: 50px;
  }

  .record-counter {
    top: 20px;
    bottom: 20px;
    min-width: 50%;
    max-height: fit-content;
    align-content: center;
    bottom: 25px;
    left: 25px;
  }
}

.col-xs-6 {
  width: 75%;
  float: left;
}

.col-xs-3 {
  max-width: 300px;
  width: 25%;
  float: left;
  text-align: center;
}

@media (max-width: 1024px) {
  .col-xs-6, .col-xs-3 {
    width: 100%;
    float: none;
    text-align: center;
  }
}

/* Style the table container to take most of the screen */
#data-table-container {
  max-width: 100%; /* Adjust this value to control the maximum width */
  overflow-x: auto; /* Enable horizontal scrolling */
  direction: rtl; /* Reverse the direction to make the scrollbar appear at the top */
}

#data-count {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 56px; 
  font-weight: 800; 
}

#data-count h1 {
  font-size: 56px;
  margin-bottom: 0;
}

#data-count p {
  font-size: 14px;
  color: #333;
}

.col-md-12.text-center.d-flex.flex-column.align-items-center i {
  width: 100%;
}

.col-md-12.text-center.d-flex.flex-column.align-items-center small {
  text-align: center;
}

/* Donut chart */
.donut {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}



.chart-title, .chart-title-small {
  text-align: center;
  /* Other styles you want to apply to both .chart-title and .chart-title-small */
}

.chart-title {
  font-size: 18px !important;
  font-weight: 600;
  color: #000;
  margin-top: 5px;
  margin-bottom: 10px;
}

.chart-title-small {
  font-size: 12px !important;
  font-weight: 400;
  color: #000;
  margin-top: 1px;
  margin-bottom: 1px;
}

.chart-container {
  text-align: center; /* Center the text within the container */
}

.reclegend {
  display: flex;
  align-items: center;
  font-size: 12px !important;
  color: #000;
}

.reclegend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.reclegend-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.avoidChart {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-align: center;
  margin-top: 5px;
}

#avoidChart text.pie-slice {
  fill: black;
}

.irrigationChart {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-align: center;
  margin-top: 5px;
}

#irrigationChart text.pie-slice {
  fill: black;
}

.householdChart {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-align: center;
  margin-top: 5px;
}

#householdChart text.pie-slice {
  fill: black;
}

.livestockChart {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-align: center;
  margin-top: 5px;
}

#livestockChart text.pie-slice {
  fill: black;
}

@media only screen and (max-width: 1024px) {
  .col-xs-12 {
    width: 100%;
    padding: 0;
  }
  select {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .dashboard {
    flex-direction: column;
  }
  .col-xs-6 {
    width: 100%;
  }
}

#selectbox1, #selectbox2,#selectbox3,#selectbox4 {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
}

#selectbox1 option, #selectbox2 option,  #selectbox3 option, #selectbox4 option {
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

@media (max-width: 1024px) {
  #selectbox1, #selectbox2,  #selectbox3, #selectbox4 {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  /* Styles for mobile devices */
  .table-responsive {
      width: 100%;
      overflow-x: auto;
  }
}


@media (max-width: 1024px) {
  /* Styles for mobile devices */
  .row.dashboard {
    overflow-x: scroll;
  }
  
}
.row.dashboard {
  overflow-x: scroll;
}

/* Media query for mobile devices */

@media (max-width: 1024px) {
  .dashboard {
    flex-direction: column;
  }
  .col-xs-6 {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .col-xs-12 {
    width: 100%;
    padding: 0;
  }
  select {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .dc-charts {
    flex-direction: column;
  }
  .dc-chart {
    margin-top: 30px;
    margin-bottom: 20px;
    min-width: 225;
  }
  .dc-select {
    width: 100%;
    margin-top: 20px;
  }
}

#selectbox1, #selectbox2,#selectbox3,#selectbox4 {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
}

#selectbox1 option, #selectbox2 option,  #selectbox3 option, #selectbox4 option {
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

@media (max-width: 1024px) {
  #selectbox1, #selectbox2,  #selectbox3, #selectbox4 {
    max-width: 100%;
  }
}

/* Loading scroller */
body {
  /* Style your body as needed */
  margin: 0;
  padding: 0;
}

.loading-overlay p {
  /* Style for the "Initializing..." text */
  color: #ccc;
  font-size: 24px;
  margin-top: 16px;
}

.loading-overlay {
  display: none; /* Initially hide overlay */
  /* Style for the loading overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999; /* Ensure it's on top of other content */
}

.loader {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 8px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: #007A86;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 8px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
  
.popup-content {
  text-align: center !important; /* Center-align text */
}

.popup-content img {
  display: block !important; /* Center-align images within a block container */
  margin: 0 auto !important; /* Center-align horizontally */
}